<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <title>환율계산기</title>

    <style>
    .container {
         max-width: 560px;
     }
    </style>

    <script type="text/javascript">

    	$(document).ready(function(){
    	    getExchangeRate();
        });

        function getExchangeRate() {
    	    var countryCode = $("#countryCode option:selected").val();
    	    $.ajax(
            {
                type: "GET",
                url: "/exchange-rate/"+countryCode,
                async: true,
                contentType : 'application/json; charset=UTF-8',
                data: {},
                error : function(error) {
                    alert("Error!");
                },
                success : function(data) {
                    $("#exchangeRateLabel").text(data.exchangeRate);
                    $("#exchangeRate").val(data.exchangeRate);
                    $("#countryCodeUSD").text(countryCode+"/USD");
                }
            });
        }

        function getReceptionAmount(event) {
            var countryCode = $("#countryCode option:selected").val();
            var exchangeRate = document.getElementById("exchangeRate").value;
            var remittanceAmount = document.getElementById("remittanceAmount").value;

    	    $.ajax(
            {
                type: "POST",
                url: "/exchange-rate",
                async: true,
                contentType : 'application/json; charset=UTF-8',
                data: JSON.stringify({"exchangeRate":exchangeRate,
                                       "countryCode":countryCode,
                                       "remittanceAmount":remittanceAmount})
            }).done(function (fragment) {
                $("#resultDiv").replaceWith(fragment);
            });

        }

    </script>


</head>
<body>
    <div class="container">

        <div class="py-5 text-center">
            <h1>환율 계산</h1>
        </div>

        <div class="container">
            <label>송금국가: </label>
            <label>미국(USD)</label>
        </div>

        <form id="exchangeRateForm" th:action="@{/exchange-rate/amount}" method="GET">

            <div class="container">
                <label>수취국가: </label>
                <select id="countryCode" name="countryCode"  onchange="getExchangeRate(this.value)">
                    <option th:each="code : ${T(toyproject.exchangerate.data.CountryCode).values()}"
                        th:value="${code}"
                        th:text="${code.description}"
                    ></option>
                </select>
            </div>

            <div class="container">
                <label>환율: </label>
                <label id="exchangeRateLabel" name="exchangeRateLabel" th:text="${exchangeRateDto.exchangeRate}"></label>
                <input type="hidden" id="exchangeRate" name="exchangeRate" th:value="${exchangeRateDto.exchangeRate}" value="0">
                <label id="countryCodeUSD" ></label>
            </div>

           <div class="container">
                <label>송금액: </label>
                <input type="text" id="remittanceAmount" name="remittanceAmount" th:value="${exchangeRateDto.remittanceAmount}" value="0">
                <label>USD</label>
            </div>

            <br>

            <div class="container">
                <button type="button" onclick="getReceptionAmount()">Submit</button>
            </div>
        </form>

        <br>

        <div class="container" id="resultDiv">
            <th:block th:if="${error!=null}">
                <label th:text="${error}"></label>
            </th:block>

            <th:block th:if="${error == null && exchangeRateDto.status}">
            <label>수취금액은</label>
            <label th:text="${exchangeRateDto.receptionAmount}"></label>
            <label th:text="${exchangeRateDto.countryCode}"></label>
            <label> 입니다.</label>
        </th:block>
        </div>

    </div>
</body>
</html>